.rootDiv {
  /* margin-bottom: calc(45px + 215px / 2); */
  background-color: #ffffff;
  border-radius: 4%;
  padding: 50px;
  width: 536px;
  height: 456px;
  box-sizing: border-box;
  margin-right: 220px;
}

.topDiv {
  margin-top: -30px;
}

.containerDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 415px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: left;
  color: #050e21;
  margin-top: 20px;
}

/* ===== FORM STYLES ===== */

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 415px;
  margin-top: 30px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: black;
  cursor: auto;
}

.inputWrapper {
  position: relative;
  width: 415px;
}

.inputField {
  all: unset;
  width: 415px;
  height: 45px;
  border-radius: 6px;
  background-color: white;
  color: #333;
  border: 1px solid rgb(148, 146, 146);
  font-size: 22px;
  margin-top: -6px;
  box-sizing: border-box;
  text-align: left;
  padding: 0 15px;
}

.rememberMeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 415px;
  margin-top: 26px;
  margin-bottom: 6px;
}

.checkDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkBox {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(148, 146, 146);
}

.checkBox:checked {
  background-color: rgba(245, 245, 106, 0.911);
  border-color: white;
  position: relative;
}

.checkBox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 7px;
  background-image: url("check-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rememberMeText {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.passwordForgottenText {
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.loginButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 415px;
  height: 64px;
  background-color: #050e21;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.errorTextInside {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 14px;
  margin: 0;
  pointer-events: none;
  white-space: nowrap;
  font-weight: 400;
}

.inputError {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 20px;
  margin: 5px 0 0 0;
}
