.rootBox {
  background-color: #f5f5f5;
  display: flex !important;
  height: 315px !important;
  border-radius: 16px;
  margin-top: -60px;
  gap: 30px !important;
  padding: 30px 30px 20px 30px !important;
}

.tooltip {
  background: white;
  border: 1px solid #050e21;
  border-radius: 10px;
  padding: 10px 16px;
}

.tooltipLabel {
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  margin: 0px 0px 4px 0px;
}

.tooltipEntry {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
}

.tooltipDot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
}

.legendText {
  color: #050e21e5;
  opacity: 0.9;
}
