.tableContainer {
  position: relative;
  border-radius: 14px 14px 0 0;
  overflow: hidden;
}

.tableHeader {
  background-color: #050e21;
  height: 62px;
}

.headerRow {
  height: 62px;
}

.cell {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  border-bottom: none !important;
  padding: 16px;
  height: 62px;
}

.item {
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #211e1be5 !important;
}

.itemName {
  font-weight: 300 !important;
  font-size: 18px !important;
  color: #050e21 !important;
}

.actionsCell {
  width: 10px;
  text-align: center;
}

.menuButton {
  color: #050e21 !important;
  padding: 4px !important;
  margin-right: 10px !important;
}

.menuButton:hover {
  background-color: #f5f5f5 !important;
  color: #333333 !important;
}
