.layout {
  min-height: 100vh;
  background-color: #010021;
  width: 100vw;
  max-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 20px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.leftTextContainer {
  width: 411px;
  height: 359px;
  margin-top: -200px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  text-align: left;
  font-size: 76px;
  font-weight: 700;
  line-height: 1.1;
}

.textDecoration {
  color: #f5f95e;
}

.leftTextContainer img {
  width: 242px;
  height: 111px;
  margin-bottom: 30px;
}
