.rootDiv {
  position: static;
  display: flex;
  height: 99vh;
  background-color: #050e21;
  width: 278px;
}

hr {
  border: none;
  border-top: 1px solid black;
}

.hrSidebar {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 0px 43px 10px 43px;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logoSidebar {
  margin-top: 61px;
  margin-bottom: 42px;
}

.logoSidebar img {
  width: 50%;
}

.ul {
  flex: 1;
}

.ul.bottom {
  display: flex;
  flex: 0;
  flex-direction: column;
  margin-bottom: 25px;
}

.ul li:nth-child(3) .optionIcon {
  height: 20px;
  width: 20px;
}

.optionWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  min-height: 45px;
  width: 217px;
  gap: 12px;
  cursor: pointer;
  position: relative;
  margin: 0px 0px 6px 28px;
}

.optionWrapper.selected {
  background-color: #f5f95e;
  border-radius: 10px;
  min-height: 45px;
}

.optionIcon {
  height: 15px;
  width: 15px;
  margin-left: 16px;
  transition: transform 300ms ease;
}

.optionIconLarge1 {
  height: 18px;
  width: 14px;
}

.optionIconLarge2 {
  height: 17px;
  width: 17px;
}

.optionText {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: left;
}

.optionWrapper.selected .optionText {
  color: #050e21;
}

/* user profile */

.profileWrapper {
  display: flex;
  flex: 0;
  flex-direction: column;
  margin: 0px 0px 25px 39px;
}

.profileInfo {
  flex: 1;
  margin-left: 4px;
  min-width: 0;
  text-align: left;
}

.profileName {
  font-size: 20px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
  margin-bottom: -4px;
}

.optionWrapper.selected .profileName,
.optionWrapper.selected .profileEmail {
  color: black;
}

.profileEmail {
  font-size: 12px;
  color: white;
  font-weight: 300;
}

.avatar {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

/* menu expand */

.profileMenu {
  position: absolute;
  left: 260px;
  bottom: 52px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(148, 146, 146);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 365px;
  height: 399px;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
}

.profileMenuItem {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
  gap: 12px;
  flex: 1;
  margin: 4px 0px;
}

.profileMenuItem:hover {
  background-color: #f5f95e;
  border-radius: 10px;
}

.profileMenuItem img {
  width: 15px;
  height: 15px;
}

.profileMenuItem span {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.profileHeader {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 16px 0;
  gap: 18px;
  margin-bottom: 8px;
  min-height: 80px;
}

.profileHeaderImage {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profileHeaderName {
  font-size: 22px;
  font-weight: 400;
  color: black;
}

.profileHeaderEmail {
  font-size: 15px;
  color: black;
  margin: 2px 0 0 0;
  font-weight: 300;
}

.profileOption {
  display: flex;
  align-items: center;
  height: 45px;
  gap: 10px;
  cursor: pointer;
  position: relative;
  margin: 10px 32px 20px 0px;
  padding-right: 4px;
}
