.rootDiv {
  display: flex;
  flex-direction: column;
  margin: 35px 100px 60px 10px;
  text-align: left;
}

.periodBox {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

.headerTitle {
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #211e1be5 !important;
  margin-bottom: 4px !important;
}

.periosSelectBox {
  background-color: #f5f5f5 !important;
  width: 162px !important;
  height: 38px !important;
  border-radius: 50px !important;
  border: none !important;
  padding: 12px 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  cursor: pointer !important;
  z-index: 10000 !important;
}

.periosSelectBox:hover {
  background-color: #eeeeee !important;
}

.headerSelectedText {
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #211e1be5 !important;
}

.arrow {
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 6px solid #666 !important;
  transform: rotate(270deg) !important;
}

.periodDropdownMenu :global(.MuiPaper-root) {
  width: 162px !important;
  border-radius: 0 0 18px 18px !important;
  border: 1px solid #050e21 !important;
  border-top: none !important;
  position: relative !important;
  margin-top: -20px !important;
}

.periodMenuItem {
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #211e1be5 !important;
  opacity: 0.9 !important;
  margin: 0 10px !important;
}

.periodMenuItem:hover {
  background-color: #f5f95e !important;
  border-radius: 50px !important;
}

.noOption {
  height: 20px !important;
}

.customBox {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 16px !important;
}

.timeBox {
  width: 126px !important;
  height: 38px !important;
  border-radius: 50px !important;
  background-color: #f5f5f5 !important;
  border: none !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center;
  padding: 12px 20px !important;
  cursor: pointer !important;
}

.timeBox:hover {
  background-color: #eeeeee !important;
}

.detailsContainer {
  display: flex !important;
  gap: 100px !important;
  margin: 40px 0 !important;
}

.detailsBox {
  width: 259px !important;
  height: 113px !important;
  background-color: #f5f5f5 !important;
  border-radius: 14px !important;
  position: relative !important;
  padding: 0px 0 10px 24px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.detailsCount {
  font-weight: 700 !important;
  font-size: 32px !important;
  color: #050e21 !important;
}

.detailsText {
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #211e1be5 !important;
}

.detailsIcon {
  position: absolute !important;
  top: 12px !important;
  right: 12px !important;
  color: #050e21 !important;
}

.inboxTestsText {
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #050e21 !important;
  padding-top: 40px !important;
  margin-bottom: 40px !important;
}

/* ===== table ===== */

.campaignTableContainer {
  border-radius: 15px !important;
  margin-bottom: 50px !important;
}

.campaignTableHead {
  background-color: #050e21 !important;
  height: 62px !important;
}

.campaignHeaderCell {
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.campaignHeaderCellWithPadding {
  padding-left: 24px !important;
}

.campaignTableRow {
  height: 110px !important;
  background-color: #f5f5f5 !important;
}

.campaignTableRow:last-child td,
.campaignTableRow:last-child th {
  border: 0 !important;
}

.campaignCellWithPadding {
  padding-left: 24px !important;
}

.campaignInfoColumn {
  display: flex !important;
  flex-direction: column !important;
  gap: 4px !important;
}

.campaignSubjectLine {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #050e21 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.campaignSubjectLine:hover {
  cursor: pointer;
}

.campaignDateTime {
  font-size: 15px !important;
  color: #211e1be5 !important;
  font-weight: 300 !important;
  opacity: 0.8 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.campaignDomain {
  font-size: 15px !important;
  color: #211e1be5 !important;
  font-weight: 300 !important;
  opacity: 0.8 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.inboxPercentage {
  color: #649f21 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.spamPercentage {
  color: #f5770b !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.blockedPercentage {
  color: #fc0003 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.domainBox {
  margin: 70px 0px 50px 0px !important;
}

/* ===== vert menu ===== */

.actionMenu :global(.MuiPaper-root) {
  width: 127px !important;
  height: 86px !important;
  border-radius: 8px !important;
  border: 1px solid #050e2180 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
  overflow-y: hidden;
  padding: 0px 7px;
}

.actionMenuItem {
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #211e1be5 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.actionMenuItem:hover {
  background-color: #f0f050 !important;
  border-radius: 60px !important;
}

.actionMenuButton {
  outline: none !important;
}

.actionMenuButton:focus {
  outline: none !important;
}

.actionMenuButton:focus-visible {
  outline: none !important;
}
