.rootBox {
  background-color: #f5f5f5;
  display: flex !important;
  min-height: 328px !important;
  border-radius: 0 0 16px 16px;
  margin-top: -40px;
  gap: 30px !important;
  padding: 10px 30px !important;
}

.tableContainer {
  border-radius: 15px !important;
  width: 1252px !important;
  border: 1px solid #707070 !important;
  min-height: 300px;
  overflow-y: hidden;
}

.tableHead {
  background-color: #050e21 !important;
  height: 62px !important;
}

.headerCell {
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.headerCellWithPadding {
  padding-left: 24px !important;
}

.tableRow {
  height: 50px !important;
  background-color: #f5f5f5 !important;
}

.tableRow:last-child td,
.tableRow:last-child th {
  border: 0 !important;
}

.cellWithPadding {
  padding-left: 24px !important;
}

.rowText {
  font-size: 18px !important;
  font-weight: 400 !important;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  color: #050e21 !important;
  opacity: 0.9 !important;
}
