.rootDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 80px;
  margin-right: 20px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  width: 1400px;
}

.buttonTop {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 47px;
  background-color: #050e21;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
